.outerbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.innerbox {
    border: 2px solid black;
    height: 400px;
    width: 600px;
}

.innerbox > div {
    border : 2px solid black;


}

button {
    height : 40px;
    width: 80px;
    border-radius : 12px;
    border: none;
    background-color: lightgreen;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
}

button:hover {
    transform: scale(1.1);
    background: rgb(0, 255, 195);
}


h1 {
    margin-left: 640px;
}

h1 {
    font-style: italic;
}